doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title 2 Column Layout — Left Menu
    link(type='text/css', href='/stylesheets/style.css', rel='stylesheet')
      
  body
    #wrapper
      main
        #content
          .innertube
            h1 Address Format API
            p
              input(type='text')
      nav#nav
        .innertube
          h3 Available Routes
          ul
            li.path-item
              a(href='#format') format
            li.path-item
              a(href='#parse') parse
              
          // - var path = { name: '/format', description: 'Shows the address format of the specified country' }
          if path
            h4#path-name #{path.name}          
            span#path-description #{path.description}
