doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Address Format API
    link(type='text/css', href='/stylesheets/style.css', rel='stylesheet')
      
  body
    #wrapper
      main
        #content
          .innertube
            h1 Address Format API
            p
              input(type='text')
      nav#nav
        .innertube
          h3 Routes
          ul
            li.path-item
              a#format(href='') /format
            li.path-item
              a#parse(href='') /parse
              
          #description-container
          if path
            h3 Description
            h4#path-name #{path.name}          
            span#path-description #{path.description}
            
  script(src='/js/index.js')
